/lop2/lop2-ejb/target/
/lop2/lop2-web/target/
/2013-07-beanvalidation-takeoff/nbproject/private/
/2013-07-beanvalidation-takeoff/build/
/2013-07-beanvalidation-takeoff/dist/
/2013-07-jpa-proviider-performance/nbproject/private/
/2013-07-jpa-proviider-performance/build/
/2013-07-jpa-provider-performance/nbproject/private/
/2013-07-jpa-provider-performance/build/